<div class="flex w-full justify-center gap-3 px-4 sm:gap-5">
  <button
    data-countdown-target="toggleButton"
    data-action="click->countdown#toggle"
    class="btn btn-primary rounded-xl border-white px-8 py-3 text-base font-bold sm:btn-lg lg:btn-xl">
    Start
  </button>

  <button
    data-action="click->countdown#reset"
    class="btn btn-primary btn-outline rounded-xl border-white px-8 py-3 text-base text-white sm:btn-lg lg:btn-xl">
    Refresh
  </button>
</div>