<div class="timer-display flex items-center justify-center gap-1 sm:gap-2 text-[5.5rem] sm:text-[6rem] md:text-[8rem] lg:text-[10rem]">
 <span class="countdown font-mono">
  <span data-countdown-target="minutesDisplay" style="--value:0; --digits:2;" aria-live="polite" aria-label="0"></span>
 </span>

 <span class="flex items-center font-mono -translate-y-2">:</span>

 <span class="countdown font-mono">
  <span data-countdown-target="secondsDisplay" style="--value:0; --digits:2;" aria-live="polite" aria-label="0"></span>
 </span>
</div>