<aside class="w-full md:w-36 lg:w-48 shrink-0 bg-base-200">
  <div class="
    menu
    w-full
    p-0
    flex
    flex-row
    md:flex-col
    [&>button]:px-4
    [&>button]:py-3
    [&>button]:cursor-pointer
    [&>button]:hover:bg-base-300
  ">
    <button class="menu-active"
            data-panel="timers-panel"
            data-action="click->settings#switchPanel">
      Timers
    </button>

    <button data-action="click->settings#switchPanel"
            data-panel="background-panel">
      Background
    </button>

    <button data-action="click->settings#switchPanel"
            data-panel="account-panel">Account</button>
  </div>
</aside>