<fieldset class="fieldset">
  <label class="label select-none" for="theme">
    Select theme
  </label>

  <select
    id="theme"
    class="select w-full"
    data-settings-target="theme"
    data-action="change->settings#changeTheme">

    <option value="forest_morning" >Forest Morning</option>
    <option value="starry_night">Starry Night</option>
    <option value="cafeteria">Cafeteria</option>
    <option value="autumn_cabin">Autumn Cabin</option>
    <option value="library" selected>Library</option>
    <option value="northern_lights">Northern Lights</option>
  </select>
</fieldset>