<div class="flex justify-center mx-10 gap-5">
  <button
    data-countdown-target="toggleButton"
    data-action="click->countdown#toggle"
    class="py-4 min-w-30 font-bold btn btn-primary  btn-xl w-30 select-none flex justify-center border-white rounded-xl">
    Start
  </button>
  <button data-action="click->countdown#reset" class="btn btn-primary btn-outline border-white btn-xl text-white rounded-xl">
    Refresh
  </button>
</div>