<aside class="w-48 shrink-0 bg-base-200 ">
  <div class="menu w-full p-0 [&>button]:p-10 grid grid-rows-3 [&>button]:cursor-pointer [&>button]:hover:bg-base-300">
    <button class="menu-active"
            data-panel="timers-panel"
            data-action="click->settings#switchPanel">
      Timers
    </button>

    <button data-action="click->settings#switchPanel"
            data-panel="background-panel">
      Background
    </button>

    <button data-action="click->settings#switchPanel"
            data-panel="sounds-panel">
      Sounds
    </button>
  </div>
</aside>